Date: 17:06 07-04-2021

# A Framework for Constrained Functional Verification

### Reviewer: #Maksim

### Tags: #TAG0 #TAG-1

### Rates - X
- Usefulness - X на сколько идея может быть полезна в использовании
- Applicability - X на сколько идея применима
- Innovativeness - X на сколько идея нова
- Availability - X на сколько идея доступно и понятно изложена

### Abstract
Abstract text

### Main
- Your reviews
- Something else

### Article References
1. Reference 0
2. Reference 1

### Other LInks

### Article
![[A Framework for Constrained Functional Verification.pdf]]