Date: 19:36 07-04-2021

# # Machine Learning-Guided Stimulus Generation For Functional Verification

### Reviewer: #ReviewersName

### Tags: #DVCON2020 #ML #STIMULUS 

### Rates - X
- Usefulness - X на сколько идея может быть полезна в использовании
- Applicability - X на сколько идея применима
- Innovativeness - X на сколько идея нова
- Availability - X на сколько идея доступно и понятно изложена

### Abstract
Abstract text

### Main
- Your reviews
- Something else

### Article References
1. Reference 0
2. Reference 1

### Other LInks
[Video with presentation](https://2020.dvcon-virtual.org/presentation/regular-session/machine-learning-guided-stimulus-generation-functional-verification)

### Article
![[Machine Learning-Guided Stimulus Generation For Functional Verification.pdf]]